# Python stuff
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Other stuff
# Visual Studio cache directory
.vs/

# db files
kanjidic2.xml/
kanjiKeywords/
kanjiVG/

*.xml

# tatoeba files
*.tsv

# outputs of the scripts
out/
